*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#CF2425,#DA6062 50%,#DA6062 60%,#DA3B3F);

}  